name: CD
on:
  push:
    tags:
      - "V*.*.*"

jobs:
  build-test-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "7.0.x"

      - name: Extract version number
        id: extract_version
        run: echo "version=$(echo ${{ github.ref }} | sed 's/refs\/tags\/V\(.*\)/\1/')" >> $GITHUB_ENV

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore -p:Version=${{ env.version }}

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Publish
        run: dotnet nuget push **/*.nupkg --skip-duplicate --api-key ${{ secrets.NUGETORG_API }} --source https://api.nuget.org/v3/index.json
